////////////////////////
// Variables Partials
//
// All of your variables should go in this file.
////////////////////////

$white: #ccc;
$orange: #f28500;
$green: shade(#23c800, 75%);
$yellow: #f2e600;
$gold: #f2b500;
$black: #333;